
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css"/>
    <meta http-equiv="content-script-type" content="text/javascript"/>
    <meta http-equiv="content-language" content="en"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="description" content="Get my IP Address"/>
    <meta name="keywords" content="ip address ifconfig ifconfig.me"/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="canonical" href="https://ipinfo.io/">
    <title>What Is My IP Address? - ifconfig.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/ifconfig_me_style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="ad_container">
            <div class="ad">
                    Need a robust API to Geolocate IPs and fetch other crucial information? Try 
                    <a href="https://ipinfo.io/?utm_source=ifconfig&utm_medium=website&utm_campaign=upsell_sister_sites">IPInfo.io</a>. 
                </div>
    </div>

<div id="container" class="clearfix">
    <div id="header">
        <table>
            <tr>
                <td>
                    <h1><a href="/ifconfig/">What Is My IP Address?</a></h1>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div id="plungins">

                        <div class="plungin" id="button_plusone">
                            <!-- Place this tag where you want the +1 button to render -->
                            <g:plusone size="medium" href="/ifconfig/"></g:plusone>
                            <!-- Place this render call where appropriate -->
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="info_area">
        <h2>Your Connection</h2>
        <table id="info_table" summary="info">
            <tr>
                <td class="info_table_label">IP Address</td>
                <td id="ip_address_cell"><strong id="ip_address">{{user_ip}}</strong></td>
            </tr>
            <tr>
                <td class="info_table_label">Remote Host</td>
                <td>{{remotehost}}</td>
            </tr>
            <tr>
                <td class="info_table_label">Host</td>
                <td>{{host}}</td>
            </tr>
            <tr>
                <td class="info_table_label">User-Agent</td>
                <td>{{ua}}</td>
            </tr>
            <tr>
                <td class="info_table_label">Port</td>
                <td>{{port}}</td>
            </tr>
            <tr>
                <td class="info_table_label">Accept-Language</td>
                <td>{{language}}</td>
            </tr>
            <tr>
                <td class="info_table_label">Referer</td>
                <td></td>
            </tr>
            <tr>
                <td class="info_table_label">Connection</td>
                <td></td>
            </tr>
            <tr>
                <td class="info_table_label">KeepAlive</td>
                <td></td>
            </tr>
            <tr>
                <td class="info_table_label">Method</td>
                <td>GET</td>
            </tr>
            <tr>
                <td class="info_table_label">Encoding</td>
                <td>gzip, deflate, br</td>
            </tr>
            <tr>
                <td class="info_table_label">MIME Type</td>
                <td> text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9</td>
            </tr>
            <tr>
                <td class="info_table_label">Charset</td>
                <td></td>
            </tr>
            <tr>
                <td class="info_table_label">Via</td>
                <td>1.1 google</td>
            </tr>
            <tr>
                <td class="info_table_label">X-Forwarded-For</td>
                <td>{{xff}}</td>
            </tr>
        </table>
    </div>
    <!--<div id="middle"></div>-->
    <div id="cli_wrap">
        <h2>Command Line Interface</h2>
        <table id="cli_table" summary="cli">
            <tr>
                <td class="cli_command">$ curl ifconfig.me</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{{user_ip}}</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/ip</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{{user_ip}}</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/host</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{{host}}</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/ua</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{{ua}}</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/port</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{{port}}</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/lang</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{{language}}</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/keepalive</td>
                <td class="cli_arrow">&rArr;</td>
                <td></td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/connection</td>
                <td class="cli_arrow">&rArr;</td>
                <td></td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/encoding</td>
                <td class="cli_arrow">&rArr;</td>
                <td>gzip, deflate, br</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/mime</td>
                <td class="cli_arrow">&rArr;</td>
                <td>text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/charset</td>
                <td class="cli_arrow">&rArr;</td>
                <td></td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/via</td>
                <td class="cli_arrow">&rArr;</td>
                <td>1.1 google</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/forwarded</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{{xff}}</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/all</td>
                <td class="cli_arrow">&rArr;</td>
                <td>
                    
                    ip_addr: {{user_ip}}
                    <br>
                    
                    remote_host: {{host}}
                    <br>
                    
                    user_agent: {{ua}}
                    <br>
                    
                    port: {{port}}
                    <br>
                    
                    language: {{language}}
                    <br>
                    
                    referer: 
                    <br>
                    
                    connection: 
                    <br>
                    
                    keep_alive: 
                    <br>
                    
                    method: GET
                    <br>
                    
                    encoding: gzip, deflate, br
                    <br>
                    
                    mime: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
                    <br>
                    
                    charset: 
                    <br>
                    
                    via: 1.1 google
                    <br>
                    
                    forwarded: {{xff}}
                    <br>
                    
                </td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/all.xml</td>
                <td class="cli_arrow">&rArr;</td>
                <td>&lt;info&gt;
    &lt;ip_addr&gt;{{user_ip}}&lt;/ip_addr&gt;
    &lt;remote_host&gt;{{host}}&lt;/remote_host&gt;
    &lt;user_agent&gt;{{ua}}&lt;/user_agent&gt;
    &lt;port&gt;{{port}}&lt;/port&gt;
    &lt;language&gt;{{language}}&lt;/language&gt;
    &lt;referer&gt;&lt;/referer&gt;
    &lt;connection&gt;&lt;/connection&gt;
    &lt;keep_alive&gt;&lt;/keep_alive&gt;
    &lt;method&gt;GET&lt;/method&gt;
    &lt;encoding&gt;gzip, deflate, br&lt;/encoding&gt;
    &lt;mime&gt;text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9&lt;/mime&gt;
    &lt;charset&gt;&lt;/charset&gt;
    &lt;via&gt;1.1 google&lt;/via&gt;
    &lt;forwarded&gt;{{xff}}&lt;/forwarded&gt;
&lt;/info&gt;</td>
            </tr>
            <tr>
                <td class="cli_command">$ curl ifconfig.me/all.json</td>
                <td class="cli_arrow">&rArr;</td>
                <td>{&quot;ip_addr&quot;:&quot;{{user_ip}}}&quot;,&quot;remote_host&quot;:&quot;{{host}}&quot;,&quot;user_agent&quot;:&quot;{{ua}}&quot;,&quot;port&quot;:{{port}},&quot;language&quot;:&quot;{{language}}&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;encoding&quot;:&quot;gzip, deflate, br&quot;,&quot;mime&quot;:&quot;text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9&quot;,&quot;via&quot;:&quot;1.1 google&quot;,&quot;forwarded&quot;:&quot;{{xff}}&quot;}</td>
            </tr>
        </table>
    </div>
    <div id="footer">&copy; 2018</div>
</div>
</body>

</html>
