#过滤数据库文件、sln解决方案文件、配置文件  
*.mdb
*.db
*.ldb  
*.sln
*.config
*.pyc
.DS_Store 
*.DS_Store 


#过滤文件夹Debug,Release,obj,venv
Debug/  
Release/  
obj/  
venv/
dataset/
dists/


.DS_Store
.DS_Store
app/.DS_Store
app/ifconfigme/.DS_Store
app/pytorch_captcha/.DS_Store
app/pytorch_captcha_recognition_master/.DS_Store
static/.DS_Store
static/plugins/.DS_Store
static/plugins/bootstrap/.DS_Store
static/test/.DS_Store
