<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Commit Result</title>
    <link rel="stylesheet" href="/static/app/app.css">

    <style>
        pre {
            outline: 1px solid #ccc;
            padding: 5px;
            margin: 5px;
        }

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }
    </style>
</head>
<body>
<a href="/">返回首页</a><br>
<div class="test-block">
    <div class="block-title">页面跳转</div>
    <div class="block-content">
        <pre id="result"></pre>
    </div>
</div>
</body>
<script type="application/javascript" src="/static/app/app.js"></script>
<script>
{% if redata %}
    var data = {{ redata|tojson }};
    console.log(data);
    document.getElementById("result").innerHTML = syntaxHighlight(data);
{% endif %}
</script>
</html>