<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile Test Remote Server</title>

    <link rel="stylesheet" href="/static/app/app.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--为了让浏览器找到您的图标，正确的方法是添加一个 Link 标签到 HTML 当中-->
</head>
<body>
<div class="page-title">Mobile Test Remote Server</div>
<div id="hasCoreJs"></div>

<!--<div id="test_ready" class="test-block test-header">-->
    <!--<pre class="notes"> 测试准备设置 </pre>-->
    <!--<div class="block-content">-->
        <!--<label class="notes">是否拦截当前页面内部请求</label>-->
        <!--<input id="" type="checkbox" checked="checked">-->
    <!--</div>-->
<!--</div>-->

<!--<hr width="100%" color="#5cb85c" size="2">-->

<div class="test-block">
    <div class="block-title">其他链接</div>
    <div class="block-content">
        <pre class="notes">【查看兼容测试结果】仅显示与当前服务器关联的测试记录</pre>
        <a href="/test_result/">查看兼容测试结果</a>
        <a href="/about/">关于页面</a>
        <a href="/list/">其他页面列表</a>
    </div>
</div>

<div id="ajax_test" class="test-block">
    <div id="block-ajax" name="block-ajax" class="block-title">ajax & fetch 测试 返回json</div>
    <div class="block-content">
        <div class="test-block-item">
            <button id="xhr_get">xhr get</button>
            <button id="xhr_post">xhr post</button>
        </div>
        <div class="test-block-item">
            <button id="jquery_get">$.get</button>
            <button id="jquery_post">$.post</button>
        </div>
        <div class="test-block-item">
            <button id="fetch_get">fetch.get</button>
            <button id="fetch_post">fetch.post</button>
        </div>
        <pre id="ajax_result"></pre>
    </div>
</div>

<div id="ajax_test" class="test-block">
    <div id="block-ajax-text" name="block-ajax-text" class="block-title">ajax & fetch 测试 返回text</div>
    <div class="block-content">
        <div class="test-block-item">
            <button id="xhr_get_text">xhr get</button>
            <button id="xhr_post_text">xhr post</button>
        </div>
        <div class="test-block-item">
            <button id="jquery_get_text">$.get</button>
            <button id="jquery_post_text">$.post</button>
        </div>
        <div class="test-block-item">
            <button id="fetch_get_text">fetch.get</button>
            <button id="fetch_post_text">fetch.post</button>
        </div>
        <pre id="ajax_result_text"></pre>
    </div>
</div>

<div id="form_test_div" class="test-block">
    <div id="block-form" name="block-form" class="block-title">form 表单测试</div>
    <div class="block-content">
        <form id="test_form" action="/test_form/">
            <div>
                <label>input text:</label>
                <input id="form_input" type="text" name="form_input"/>
            </div>
            <div>
                <label>input password:</label>
                <input id="form_input_pwd" type="password" name="form_input_pwd"/>
            </div>
            <div>
                <label>input number:</label>
                <input id="form_input_no" type="number" name="form_input_no"/>
            </div>
            <div>
                <label>textArea:</label>
                <textarea id="form_textarea" name="form_textarea" rows="2"></textarea>
            </div>
            <div>
                <label>method:</label>
                get<input type="radio" name="_method" value="get"
                          onclick="document.getElementById('test_form').method = 'get'"/>
                post<input type="radio" name="_method" value="post"
                           onclick="document.getElementById('test_form').method = 'post'"/>
            </div>
            <div>
                <label>checkBox:</label>
                checkbox1<input type="checkbox" name="test_checkbox" value="ck1"/>
                checkbox2<input type="checkbox" name="test_checkbox" value="ck2"/>
            </div>
            <div>
                <label>select:</label>
                <select name="test_select">
                    <option>s1</option>
                    <option>s2</option>
                    <option>s3</option>
                    <option>s4</option>
                    <option>s5</option>
                </select>
            </div>
            <div class="div-flex">
                <input type="submit" name="sub1" value="input submit1 &lt;input type='submit' name='sub1'&gt;"/>
                <input type="submit" name="sub1" value="input submit2 &lt;input type='submit' name='sub2'&gt;"/>
                <button type="submit">button submit &lt;button type='submit'&gt;</button>
                <button type="button" onclick="formSubmit()">JS submit (JS form.submit())</button>
            </div>
        </form>
    </div>
</div>

<div class="test-block">
    <div name="block-media" id="block-media" class="block-title">多媒体加载测试</div>
    <div class="block-content">
        <pre class="notes">加载多媒体文件</pre>
        <label class="notes">MP3</label>
        <audio controls="controls">
            <source src="/static/audio/song.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <label class="notes">MP4</label>
        <video controls="controls" autoplay="autoplay" style="width: fit-content;">
            <source src="/static/video/movie.mp4" type="video/mp4"/>
            Your browser does not support the video element.
        </video>
    </div>
</div>

<div class="test-block">
    <div name="ajax-page" id="ajax-page" class="block-title">ajax页面拼接</div>
    <div class="block-content">
        <pre class="notes">ajax请求获取页面内容，并通过innerHtml拼接到下方红色边框的块中, 页面内容为一个多国语言测试页面</pre>
        <button onclick="loadLocalPage()">加载本地页面</button>
        <button onclick="loadRemotePage()">加载远程页面</button>
        <div class="page-block" page-src="/world_languages/">

        </div>
    </div>
</div>

<div class="test-block">
    <div id="block-iframe_normal" name="block-iframe_normal" class="block-title">iframe 测试</div>
    <div class="block-content">
        <pre class="notes">iframe中页面内容为一个多国语言测试页面</pre>
        <iFrame id="test_iframe" name="test_iframe" height="200px" src="/world_languages/"></iFrame>
    </div>
</div>


<script type="application/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="application/javascript" src="/static/app/app.js?abc=xxx&edf=yyy" charset="UTF-8"></script>

<script charset="UTF-8">
    var pageBlock = $(".page-block");
    var ajax = {
        url: "/test_ajax/",
        method: "POST",
        baseString: "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789" +
        "!@#$%^&*()_+-=`~{}[]|\\\:;\'<>?,./\"{}" +
        "！@#￥%……&*（）)——+-=【】「」|、；：“”‘’《》〈〉？，。、中文",

        postData: function (size) {
            var str = "";
            for (var i = 0; i < size; i++) {
                var pos = Math.round(Math.random() * (this.baseString.length - 1));
                str += this.baseString.charAt(pos);
            }
            return str;
        },

        requestData: function () {
            var data = this.method === "POST" ? {'data': this.postData(50)} : undefined;
            return JSON.stringify(data);
        },

        getOption: function () {
            var option = {
                method: this.method,
                headers: {
                    'Content-Type': 'application/json'
                }
            };
            option.url = this.url;
            if (option.method === "POST" && !option.data) {
                option.dataType = "json";
                option.data = this.requestData();
                option.body = this.requestData();
            }
            return option;
        },

        updateResult: function (status, result, ajaxType) {
            var resultID = "ajax_result";
            var text;
            if (typeof status === "string") {
                text = status;
            } else {
                text = "<spen>ajaxType: [t] <br>status: [s] <br>Method: [m]</spen><br>[r]"
                    .replace('[t]', ajaxType)
                    .replace('[s]', status)
                    .replace('[m]', this.method)
                    .replace('[r]', syntaxHighlight(result));
            }
            document.getElementById(resultID).innerHTML = text;
        },

        jquery: function () {
            var option = this.getOption(),
                that = this;
            option.success = function (result, type, jqxhr) {
                var json = jqxhr.responseText ? jqxhr.responseText : JSON.stringify(jqxhr);
                that.updateResult(jqxhr.status, json, "jQuery");
            };
            option.error = function (jqxhr) {
                that.updateResult(jqxhr.status, jqxhr.responseText, "jQuery");
            };
            $.ajax(option);
        },

        xhr: function () {
            var that = this,
                xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function (ev) {
                if (xhr.readyState === 4) {
                    var responseText = xhr.status === 200 ? xhr.responseText : "";
                    that.updateResult(xhr.status, responseText, "XMLHttpRequest");
                }
            };
            xhr.open(this.method, this.url);
            xhr.setRequestHeader("Accept", "*/*");
            //xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(this.requestData());
        },

        fetch: function () {
            var status = 200,
                that = this,
                option = this.getOption();

            try {
                fetch(option.url, option)
                    .then(function (response) {
                        status = response.status;
                        return response.json();
                    })
                    .then(function (result) {
                        that.updateResult(status, result, "fetch");
                    })
                    .catch(function (reason) {
                        that.updateResult(status, reason.stack, "fetch");
                    })
            } catch (e) {
                that.updateResult("当前浏览器不支持fetch！");
            }
        }
    };

    function formSubmit(ev) {
        document.getElementById('test_form').submit();
    }
    
    function ajaxLoadPage(url) {
        var option = {
            method: "GET",
            dataType: 'text/html'
        };
        option.url = url;
        option.complete = function (xhr, status) {
            if (status === 200 || xhr.status) {
                pageBlock.html(xhr.responseText);
            } else {
                pageBlock.text("$.ajax 获取页面内容失败");
            }
        };
        $.ajax(option);
    }

    function loadLocalPage() {
        pageBlock.text("");
        ajaxLoadPage("/inner_page.html?page_from_local");
    }

    function loadRemotePage() {
        pageBlock.text("");
        ajaxLoadPage("https://www.cnblogs.com/?abc=xxx&edf=yyy#aaa");
    }

    window.onload = function (ev) {
        $("#ajax_test").find("button").click(function (ev) {
            var $this = $(this);
            var info = $this.attr('id').split("_");
            ajax.method = info[1].toUpperCase();
            ajax.url = "/test_ajax_" + ajax.method.toLowerCase() + "/";
            ajax[info[0]]();
        });
    }
</script>

</body>
</html>