<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>

    <link rel="stylesheet" href="/static/app/app.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--为了让浏览器找到您的图标，正确的方法是添加一个 Link 标签到 HTML 当中-->
</head>
<body>
<a href="/">返回首页</a><br>
<div class="page-title">List Page</div>
<div id="hasCoreJs"></div>

<!--<div id="test_ready" class="test-block test-header">-->
    <!--<pre class="notes"> 测试准备设置 </pre>-->
    <!--<div class="block-content">-->
        <!--<label class="notes">是否拦截当前页面内部请求</label>-->
        <!--<input id="" type="checkbox" checked="checked">-->
    <!--</div>-->
<!--</div>-->

<!--<hr width="100%" color="#5cb85c" size="2">-->

<div class="test-block">
    <div class="block-title">block-title</div>
    <div class="block-content">
        <pre class="notes">notes【一些工具】</pre>
        <a href="/captcha/">上传验证码图片识别验证码</a>
        <a href="/about/">关于页面</a>

        <pre class="notes">notes【功能页面】</pre>
        <a href="/make_redirect/">自动刷新页面</a>
        <a href="/static/htdocs/ajaxtest.html">ajax请求测试页面</a>
        <a href="/about/">关于页面</a>

        <pre class="notes">notes【静态页面】</pre>
        <div class="test-block-item">
            <table border="1">
                <tr type="row1">
                    <td type="cell1"><a href="/static/htdocs/jquery_game_sieveThrowing.html">掷骰子小游戏</a></td>
                    <td type="cell2"><a href="/static/htdocs/jquery_game_CrashBall.html">碰撞球小游戏</a></td>
                    <td type="cell3"><a href="/static/htdocs/jquery_snakegame.html">贪吃蛇游戏</a></td>
                    <td type="cell4"><a href="/static/htdocs/jquery_snakegame_2.html">贪吃蛇游戏2</a></td>
                    <td type="cell5"><a href="/static/htdocs/jquery_game_JigsawPuzzle.html">拼图游戏</a></td>
                </tr>
                <tr type="row2">
                    <td type="cell1"><a href="/static/htdocs/jquery_game_DigitalHuarongRoad.html">数字华容道</a></td>
                    <td type="cell2"><a href="/static/htdocs/jquery_ArkanoidGames.html">打砖块小游戏</a></td>
                    <td type="cell3"><a href="/static/test/FlyBird/index.html">像素鸟小游戏</a></td>
                    <td type="cell4"><a href="/static/htdocs/jquery_game_sieveThrowing.html">掷骰子小游戏</a></td>
                    <td type="cell5"><a href="/static/htdocs/jquery_game_sieveThrowing.html">掷骰子小游戏</a></td>
                </tr>
            </table>
        </div>
        <a href="/about/">关于页面</a>
    </div>
</div>

</body>
</html>