<html>    
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <p>Hello, it's RAS Mobile UT Website!</p>
    <p>欢迎来到移动UT测试！</p>
    <p>歡迎來到移動UT測試！</p>
    <p>モバイルUTテストへようこそ!</p>
    <p>ยินดีต้อนรับสู่การทดสอบ UT แบบเคลื่อนที่!</p>
    <p>Chào mừng bạn đến với bài kiểm tra UT trên thiết bị di động!</p>
    <p>Selamat datang di tes UT seluler!</p>
    <p>Benvenuto nel test UT mobile!</p>
    <p>Хөдөлгөөнт UT тестэнд тавтай морилно уу!</p>
    <p>မိုဘိုင်း UT စမ်းသပ်မှုမှကြိုဆိုပါ၏!</p>
    <p>Dobro došli na mobilni UT test!</p>
    <p>UT test mobilis salvete!</p>
    <p>Selamat datang ke ujian UT mudah alih!</p>
    <p>Welkom bij de mobiele UT-test!</p>
    <p>모바일 UT 테스트에 오신 것을 환영합니다!</p>
    <p>Maligayang pagdating sa mobile UT test!</p>
    <p>Bienvenue sur le test UT mobile!</p>
    <p>Добро пожаловать на мобильный тест UT!</p>
    <p>Willkommen beim mobilen UT-Test!</p>
    <p>Velkommen til den mobile UT-test!</p>
    </body>
</html>   